.App {
  background: #363cf7;
  color: white;
}

.App footer {
  text-align: center;
}

.App header {
  border-bottom: 0.1rem solid white;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 5em;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 10px;
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  display: block;
  padding: 5px;
  margin: 0 auto;
  text-transform: capitalize;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.call-to-search {
  width: 500px;
  display: block;
  margin: 0 auto;
}
